body {font-family:calibri; }

input[type=text] {
	font-family:Calibri;
	width:15em;
	margin:5px;
	padding:3px;
	}

label {
	float:left;
	width:6em;
	margin:5px;
	}

fieldset {
	width:400px;
	border:1px solid grey;
	display:block;
	}
#error {
	padding:10px;
	font-size:0.8em;
	color:red;
}

.coursebox ol {
	height:250px;
	width:400px;
	overflow:auto;
}

.trashico {
	float:right;
	z-index:999;
	background-image:url(trash_icon.gif);
	border:none;
	width:13px;
	height:13px;
}

.trashico:hover { cursor:pointer }

.hide {}


	body li {list-style-type:none; font-size: 0.8em; border:1px solid black; width:350px; background-color:white;padding: 0.2em;}

	#course .ui-selecting { background: #FECA40; }
	#course li:hover { cursor:pointer; background:lightgrey}
	#course .ui-selected { background: #F39814; color: white; }
	#course { list-style-type: none; margin: 0; padding: 0; width: 100%; }
	#course li { margin: 2px; padding: 0.2em; font-size: 0.8em; }
	
	#cart ol .ui-selecting { background: #FECA40; }
	#cart ol .ui-selected { background: #F39814; color: white; }
	#cart ol { list-style-type: none; margin: 0; padding: 0; width: 100%; }
	#cart ol li { margin: 2px; padding: 0.4em; font-size: 0.8em;}